* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F1C232;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    vertical-align: middle;
    font-size: 50px;
    padding: 15px;
}
.titulo {
    background-color: #999999;
    text-align: center;
    padding: 25px;
}
.titulo > p{
    font-size: 25px;
}
h1 {
    font-size: 100px;
    color: #F1C232;
    padding: 5px;
}
h2 {
    font-size: 40px;
    padding: 5px;
    padding-bottom: 25px;
    color: #F1C232;
}
footer {
    background-color: #333333;
}
.container {
    height: 300px;
    width: 100%;
    margin: 0px;
    display: table;
    border-spacing: 0px;
}
.elemento30p {
    height: 100%;
    width: 40%;
    display: table-cell;
}
.elemento30p > p{
    font-size: 20px;
    text-align: justify;
    padding: 100px;

}
.elemento70p {
    height: 100%;
    width: 60%;
    display: table-cell;
    top: 50%;
    left: 50%;
}
.imge{
  display: block;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
}