* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F1C232;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    color: #F1C232;
}
h2 {
    font-size: 40px;
    padding: 10px;
    color: #F1C232;
}
footer {
    background-color: #333333;
}
footer > a{
    color: white;
    font-size: 25px;
    margin: 10px 30px;
}
/*Index*/
.imgLogo{
    height: auto;
    width: 100px;
    vertical-align: middle;
}
.separador{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.logoHead{
    grid-column: 1/7;
    grid-row: 1;
    font-size: 70px;
}
.logoHead > a{
    color: black;
}
.logoLinks{
    text-align: end;
    grid-column: 7/11;
    grid-row: 1;
}
.linkImg{
    height: auto;
    width: 80px;
    margin: 10px 20px;
}
.infoStore{
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    font-size: 25px;
    padding: 5%;
}
.imgStore{
    grid-column: 5/11;
    grid-row: 1;
    padding: 3%;
}
.imgStore img{
    height: auto;
    width: 100%;
}
.card img{
    height: auto;
    width: 100px;
}
.logo{
    padding: 5px;
    font-size: 80px;
    color: black;
}
.titulo {
    background-color: #666666;
    text-align: center;
}
.titulo > p{
    font-size: 25px;
    padding-bottom: 10px;
}
.filtro{
    background-color: #888686;
    grid-column: 1/4;
    grid-row: 1;
    margin: 25px;
    text-align: center;
}
.productos{
    grid-column: 4/11;
    grid-row: 1;
}
.card {
    margin: 25px auto;
    background-color: aliceblue;
    width: 30%;
    padding: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px;
    display: inline-block;
    position: relative;
}
.card > img {
    width: 50%;
    vertical-align: middle;
    height: auto;
    width: 100%;
}
/*Inicia los forms login y sign maikeeelllll*/
.titulo-form{
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #333333;
    padding: 5px;
}
.titulo-form > h1{
    font-size: 50px;
}
.contTargets{
    width: 100vw;
    display: flex;
    margin-bottom: 211.6px;
    padding: 15px 0px 15px 0px;
}
.containter-formu{
    width: 35%;
    height: 400px;
    padding: 15px;
    margin: 2% 10% auto;
    background-color:#888686;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.form{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    justify-content: center;
    display: block;
}

.form > label, input, textarea{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 16px;
    margin-top: 10px;
}
.form > button{
    display: inline-block;
    width: 30%;
    font-size: 15px;
    padding: 7px;
    margin: 15px;
    box-shadow: 2px 1.5px 1.5px#2c2c2c;
}
.tarjeta-2{
    width: 50%;
    text-align: center;
    
}
.tarjeta-2 > h1{
    font-size: 50px;
    color: #333333;
}
.tarjeta-2 > p{
    font-size: 25px;
    color: #333333;
    vertical-align: middle;
}
.tarjeta-2 > p h1 button{
    position: relative;
    top: 25%;
    padding: 7px;
    margin: 15px;
    right: 5%;
}
.tarjeta-2 > button{
    display: inline-block;
    width: 15%;
    font-size: 15px;
    padding: 7px;
    margin: 15px;
    box-shadow: 2px 1.5px 1.5px#2c2c2c;
}
.tarjeta-2 >a{
    font-size: 15px;
    color: black;
}
.container-reg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px black;
    margin-bottom: 44px;
}
.contenedor-form-reg{
    width: 80%;
    height: auto;
    padding: 15px;
    margin: 20px;
    background-color:#888686;
    align-items: left;
    justify-content: left;
    border: 1px solid black;
    margin-bottom: 50px;
}
.form-reg{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    justify-content: center;
}
.form-reg > label, input{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 16px;
    margin-top: 10px;
    text-align: left;
}
.form-reg > button{
    width: 30%;
    font-size: 15px;
    padding: 7px;
    margin: 0 auto;
    box-shadow: 2px 1.5px 1.5px#2c2c2c;
}
.tarjeta-2-reg{
    width:70%;
    text-align: justify;
    text-justify:distribute;
    padding: 15px;
}
.tarjeta-2-reg > p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 19px;
}
.tarjeta-2-reg > img{
    margin:0 auto;
    width: 100%;
}
.check{
    text-align: center !important;
}
/*Fin forms maikeeelllll*/
.carroContenedor{
    margin: 50px;
    background-color: #333333;
    grid-column: 3/9;
    grid-row: 1/7;
}
.imgProducto{
    height: 100%;
    width: 100%;
    padding: 2%;
}
.imgContact{
    grid-column: 1/5;
    grid-row: 1;
    font-size: 20px;
    padding: 5%;
}
.imgContact > img{
    height: auto;
    width: 100%;
    margin: 7%;
}
.formContact{
    background-color: #888686;
    margin: 5%;
    grid-column: 5/11;
    grid-row: 1;
    padding: 3%;
}
.alerta{
    width: 25%;
    height: 100px;
    background-color: #f25757;
    position: fixed;
    top: 35%;
    left: 35%;
    margin: 0 auto;
    text-align: center;
    border-radius: 7%;
    border: 2px solid #3c3d59;
}
.textAlerta{
    width: 100%;
    margin-top: 10%;
    color: #fff;
}
/* about keviiiiiiin*/
.nosotros{
    margin: 2% 0 0 6%;
    font-size: 30px;
}
.texto{
    font-size: 25px;
    margin: 3% 0 0 6%;
}

.containerNosotros{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30%;
    margin-top: 5%;
}
.perfil{
    background-color:#333333;
    margin: 20px;
    padding: 1%;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 600;
    padding: 2%;
    color: white;
    height: 350px;
}
.imgPerfil{
    height: 100%;
    width: 100%;
}