* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F1C232;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
.logo{
    padding: 5px;
    font-size: 80px;
    color: black;
}
img {
    vertical-align: middle;
    font-size: 50px;
    padding: 15px;
}
.titulo {
    background-color: #666666;
    text-align: center;
    padding: 25px;
}
.titulo > p{
    font-size: 25px;
}
h1 {
    font-size: 100px;
    color: #F1C232;
    padding: 5px;
}
h2 {
    font-size: 40px;
    padding: 5px;
    padding-bottom: 25px;
    color: #F1C232;
}
footer {
    background-color: #333333;
}
footer > a{
    color: white;
    font-size: 30px;
    padding: 10px;
}
.container {
    height: auto;
    width: 100%;
    margin: 0px;
    display: table;
}
.dere{
    text-align: right;
    float: right;
}
.izq{
    float: left;
    
}
.elemento30p {
    width: 40%;
    display: table-cell;
}
.elemento70p {
    width: 60%;
    display: table-cell;
}
.imge{
    display: block;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
}
.tienda{
    height: 1000px;
}